<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <child v-model='parentValue'></child>

        parentValue:{{ parentValue }}
    </div>
        
    <script src="../js/vue.js"></script>

    <script>
        Vue.component('child',{
            props:{
                value:{   //props内置的value,不是外面的
                    type:String,
                    default:''
                }
            },
            template:`
                <div>
                    <input type="text" v-model="inpValue" />
                    {{inpValue}}
                </div>
            `,
            watch:{
                inpValue(newValue){
                    this.$emit('input',newValue)   //内置的input
                },
                value(newValue){
                    this.inpValue=newValue
                }
            },
            data(){
                return {
                    inpValue:''
                }
            }
        })


        var vm=new Vue({
            el:'#app',
            data:{
                parentValue: '',

        },
            methods:{

            }
        })
    </script>
</body>
</html>