<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            width: 500px;
            height: 400px;
            border: 1px solid #ddd;
        }

        ul {
            list-style: none;
        }

        .say-box {
            width: 500px;
            height: 150px;
            border: 1px solid #ddd;
        }

        .xm {
            color: green;
            text-align: left;
        }

        .xh {
            color: pink;
            text-align: right;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="box">
            <ul>
                <!-- 如果是小明说的，class->xm  如果是小红说的 class->xh -->
                <li v-for="item in list" v-bind:class="{xm: item.includes('小明说'), xh: item.includes('小红说')}">{{item}}</li>
            </ul>
        </div>

        <div class="say-box">
            <xiaoming v-on:push-parent="handlerList"></xiaoming>
            <xiaohong v-on:push-parent="handlerList"></xiaohong>
        </div>
    </div>

    <script src="./js/vue.js"></script>
    <script>
        Vue.component('xiaoming', {
            template: `
                <div>
                    <input placeholder="小明说" v-model="xmValue" type="text"/>
                    <button v-on:click="xmSend">发送</button>
                </div>
            `,
            data () {
                return {
                    xmValue: ''
                }
            },
            methods: {
                xmSend () {
                    this.$emit('push-parent', '小明说：' + this.xmValue)

                    this.xmValue = ''
                }
            }
        })

        Vue.component('xiaohong', {
            template: `
                <div>
                    <input placeholder="小红说" v-model="xhValue" type="text"/>
                    <button v-on:click="xhSend">发送</button>
                </div>
            `,
            data () {
                return {
                    xhValue: ''
                }
            },
            methods: {
                xhSend () {
                    this.$emit('push-parent', '小红说：' + this.xhValue)

                    this.xhValue = ''
                }
            }
        })

        var myApp = new Vue({
            el: '#app',
            data: {
                list: []
            },
            methods: {
                handlerList (data) {
                    this.list.push(data)
                }
            }
        })
    </script>
</body>
</html>